# Databases
task_management.db

# Environment variables
.env

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

#logging
app.log

#documentation
documentation/Example
documentation/Rules

#contributors
contributors
